/* Czarny background */
body {
    position: relative;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

/* Migoczące gwiazdy */
.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    opacity: 0;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* Stałe gwiazdy */
.star-fixed {
    position: absolute;
    background: white;
    border-radius: 50%;
}

/* Możesz dodawać różne rozmiary */
.star-fixed.small {
    width: 1px;
    height: 1px;
}

.star-fixed.medium {
    width: 2px;
    height: 2px;
}

.star-fixed.large {
    width: 3px;
    height: 3px;
}

/* Shooting star – realistyczny meteor z ogonem pod kątem ruchu */
/*meteor 1*/
.shooting-star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 1;
    transform: rotate(45deg);
    /* kierunek lotu meteora */
    animation: meteor 10s linear infinite;
}

.shooting-star::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* szerokość ogona dopasowana do meteora */
    height: 0;
    /* ogon początkowo 0 */
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
    border-radius: 50%;
    transform-origin: top left;
    animation: tail 10s linear infinite;
}


/*meteor 1*/
@keyframes meteor {
    0% {
        transform: translateX(0) translateY(0) rotate(135deg);
    }

    100% {
        transform: translateX(1500px) translateY(1500px) rotate(135deg);
    }
}

@keyframes tail {
    0% {
        height: 0;
        opacity: 1;
    }

    50% {
        height: 100px;
        /* stopniowo wydłuża ogon */
        opacity: 1;
    }

    100% {
        height: 120px;
        /* końcowa długość */
        opacity: 0;
        /* znika na końcu */
    }
}